* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    text-align: center;
    margin: 10px auto;
}

img {
    outline: auto;
}

h1 {
    font-size: xx-large;
    width: 500px;
    background-color: antiquewhite;
    padding: 10px;
    margin: 50px auto;
    outline: auto;
}

h2 {
    font-size: x-large;
    width: 400px;
    padding: 10px;
    margin: 20px auto;
    background-color: black;
    color: white;
}

ul {
    display: block;
    width: 450px;
    margin: 0;
    padding: 0;
}

ol {
    margin: 0;
    padding: 0;
}

.recipes-link {
    display: grid;
}

.list-link {
    outline: auto;
    padding: 10px;
    background-color: aliceblue;
}

.home-link {
    outline: auto;
    padding: 10px;
    background-color: aliceblue;
}

.ingredients {
    
    margin-left: 250px;
    margin-right: 100px;
    text-align: left;
}

.steps {
    
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
}